/* COLOR PALLET
light-grey: #DDDDDD
dark-blue: #222831
light-blue: #30475E
light-blue:hover: #4b6e91
red: red */

/*----------------------------------------------
1. Universal Styles
----------------------------------------------*/

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
	scroll-behavior: smooth;
}

body {
	line-height: 1;
	font-family: 'Alegreya Sans SC', sans-serif;
	background-attachment: fixed;
	background-size: 100% 100%;
	margin: 0;
	background-image: url('images/Code_Background2.jpg');
	background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			from(rgba(0, 0, 0, 0.4)),
			to(rgba(0, 0, 0, 0.4))
		),
		url('images/Code_Background2.jpg');
	background-image: -o-linear-gradient(
			top,
			rgba(0, 0, 0, 0.4),
			rgba(0, 0, 0, 0.4)
		),
		url('images/Code_Background2.jpg');
	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.4),
			rgba(0, 0, 0, 0.4)
		),
		url('images/Code_Background2.jpg');
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:link,
a:visited {
	text-decoration: none;
	color: whitesmoke;
}

/*----------------------------------------------
2. Header & Nav Styles
----------------------------------------------*/

.nav-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #dddddd;
	border-radius: 0 0 30px 30px;
}

.logo-header {
	width: 20%;
	height: 120px;
}

.nav-bar {
	display: flex;
	flex-direction: row;
	font-size: 1.6em;
	font-weight: 500;
	list-style-type: none;
	margin-top: 35px;
	cursor: pointer;
}

.nav-bar li {
	margin-right: 35px;
}

.nav-bar li a {
	color: #30475e;
}

.nav-bar a:hover {
	color: red;
	transition: all ease 0.5s;
}

#services {
	margin-right: 0px;
}

#services span {
	transition: none;
}

.mobile-nav {
	margin-right: 35px;
	margin-top: 30px;
	height: 50px;
	width: 25px;
	cursor: pointer;
	padding: 6px 7px;
	display: none;
	font-size: 2.6em;
	color: whitesmoke;
}

.dropdown-arrow {
	display: inline-block;
	transform: rotate(-90deg);
	margin-left: 5px;
	transition: all ease 0.5s;
}

.rotate-arrow {
	transform: rotate(90deg);
	transition: all ease 0.5s;
}
/*----------------------------------------------
3. Main Body Styles
----------------------------------------------*/

.hero-container {
	width: 100%;
	height: 1350px;
}

.hero-header {
	text-align: center;
	margin-top: 10px;
}

h2,
h4 {
	font-size: 2em;
	color: white;
}

.hero-info {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	margin-top: 25px;
	height: 60vh;
}

.text-area {
	width: 45%;
	border: 1px solid white;
	border-radius: 12px;
	height: 55vh;
}

.photo-area {
	width: 45%;
	border: 1px solid white;
	border-radius: 12px;
	height: 55vh;
}

/*----------------------------------------------
3. SERVICES Section Styles
----------------------------------------------*/

.scale-in {
	scale: 0.8;
	opacity: 0;
	animation: fade-in linear forwards;
	animation-timeline: view();
	animation-range: 500px 800px;
}

.services-background {
	background-color: rgba(221, 221, 221, 0.4);
	width: 100%;
	height: 950px;
}

.services-container {
	width: 100%;
	height: 950px;
	scroll-margin-top: 400px;
}

@keyframes fade-in {
	to {
		scale: 1;
		opacity: 1;
	}
}

.services-header {
	text-align: center;
	padding-top: 200px;
}

.services-provided {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.services1,
.services2,
.services3 {
	width: 22%;
	height: 460px;
	border: 1px solid white;
	border-radius: 12px;
	margin-top: 48px;
}

.custom-shape-divider-top-1720712160 {
	/* position: absolute; */
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
	margin-top: -180px;
}

.custom-shape-divider-top-1720712160 svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 178px;
	transform: rotateY(180deg);
}

.custom-shape-divider-top-1720712160 .shape-fill {
	fill: #ffffff;
}

/*----------------------------------------------
3. TESTIMONIAL Section Styles
----------------------------------------------*/
.testimonial-container {
	width: 100%;
	height: 950px;
	scroll-margin-top: 400px;
	padding-top: 250px;
}

.testimonials-header {
	text-align: center;
}

.testimonials-given {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.testimonial1,
.testimonial2,
.testimonial3,
.testimonial4 {
	width: 20%;
	height: 280px;
	border: 1px solid white;
	border-radius: 12px;
	margin-top: 48px;
}
/*----------------------------------------------
3. PROJECTS Section Styles
----------------------------------------------*/

.projects-container {
	width: 100%;
	height: 920px;
	scroll-margin-top: 400px;
	margin-top: 250px;
}

.projects-header {
	text-align: center;
}

.projects-made {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.project1,
.project2,
.project3,
.project4,
.project5,
.project6 {
	width: 30%;
	height: 250px;
	border: 1px solid white;
	border-radius: 12px;
	margin-top: 48px;
}

/*----------------------------------------------
3. Contact Form Styles
----------------------------------------------*/

.contact-container {
	width: 100%;
	height: 920px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contact-header {
	text-align: center;
	margin-bottom: 30px;
}

.info-form {
	width: 100%;
}

.form-container {
	color: whitesmoke;
	font-size: 1.1em;
	background-color: #222831;
	width: 380px;
	height: 595px;
	border-radius: 20px;
	line-height: 30px;
	margin: 0 auto;
	padding: 30px 20px;
}

.child {
	padding-left: 30px;
	width: 340px;
}
.child input {
	height: 35px;
}

.child input,
.child textarea {
	width: 280px;
	border-radius: 6px;
	padding-left: 5px;
}

.submit {
	width: 150px;
	height: 45px;
	border-radius: 6px;
	background-color: #30475e;
	color: whitesmoke;
	font-size: 1em;
	border: none;
	cursor: pointer;
}
.submit:hover {
	background-color: #4b6e91;
}

/*----------------------------------------------
3. Footer Styles
----------------------------------------------*/

.footer-container {
	width: 100%;
	height: 120px;
	background-color: #dddddd;
	border-radius: 30px 30px 0 0;
}

/*----------------------------------------------
 MEDIA QUERIES 
----------------------------------------------*/

@media only screen and (min-width: 1655px) {
}

@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 480px) {
}
