/* COLOR PALLET
light-grey: #DDDDDD
dark-blue: #222831
light-blue: #30475E
light-blue:hover: #4b6e91
red: red */

/*----------------------------------------------
1. Universal Styles
----------------------------------------------*/

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
	scroll-behavior: smooth;
	font-size: 10px;
}

body {
	line-height: 1;
	font-family: 'Alegreya Sans SC', sans-serif;
	background-attachment: fixed;
	background-size: 100% 100%;
	margin: 0;
	background-image: url('images/Code_Background2.jpg');
	background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			from(rgba(0, 0, 0, 0.4)),
			to(rgba(0, 0, 0, 0.4))
		),
		url('images/Code_Background2.jpg');
	background-image: -o-linear-gradient(
			top,
			rgba(0, 0, 0, 0.4),
			rgba(0, 0, 0, 0.4)
		),
		url('images/Code_Background2.jpg');
	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.4),
			rgba(0, 0, 0, 0.4)
		),
		url('images/Code_Background2.jpg');
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:link,
a:visited {
	text-decoration: none;
	color: whitesmoke;
}

/*----------------------------------------------
2. Header & Nav Styles
----------------------------------------------*/

.nav-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #dddddd;
}

.logo-header {
	width: 20%;
	height: 12rem;
}

.nav-bar {
	display: flex;
	flex-direction: row;
	font-size: 2.5rem;
	font-weight: 500;
	list-style-type: none;
	margin-top: 3.5rem;
	cursor: pointer;
}

.nav-bar li {
	margin-right: 3.5rem;
}

.nav-bar li a {
	color: #30475e;
}

.nav-bar a:hover {
	color: red;
	transition: all ease 0.5s;
}

#services {
	margin-right: 0px;
}

#services span {
	transition: none;
}

.mobile-nav {
	margin-right: 35.5rem;
	margin-top: 3rem;
	height: 5rem;
	width: 2.5rem;
	cursor: pointer;
	padding: 0.6rem 0.7rem;
	display: none;
	font-size: 3.6rem;
	color: red;
}

.dropdown-arrow {
	display: inline-block;
	transform: rotate(-90deg);
	margin-left: 0.5rem;
	transition: all ease 0.5s;
}

.rotate-arrow {
	transform: rotate(90deg);
	transition: all ease 0.5s;
}
/*----------------------------------------------
3. Main Body Styles
----------------------------------------------*/

.hero-container {
	width: 100%;
	height: 112rem;
	clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 100%, 0% 85%);
	background-color: rgba(75, 110, 145, 0.4);
}

.hero-header {
	text-align: center;
}

h2,
h4 {
	font-size: 3rem;
	color: white;
}

.hero-info {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	margin-top: 2.5rem;
	height: 60vh;
}

.text-area {
	width: 40%;
	border: 1px solid white;
	border-radius: 1.2rem;
	height: 35vh;
}

.photo-area {
	width: 40%;
	border: 1px solid white;
	border-radius: 1.2rem;
	height: 35vh;
}

/*----------------------------------------------
3. SERVICES Section Styles
----------------------------------------------*/

.scale-in {
	scale: 0.8;
	opacity: 0;
	animation: fade-in linear forwards;
	animation-timeline: view();
	animation-range: 50rem 80rem;
	scroll-margin-top: 28rem;
}

.services-container {
	width: 100%;
	height: auto;
	padding: 28rem 5rem 20rem 5rem;
}

@keyframes fade-in {
	to {
		scale: 1;
		opacity: 1;
	}
}

.services-header {
	text-align: center;
}

.services-provided {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.services1,
.services2,
.services3 {
	width: 22%;
	height: 46rem;
	border: 1px solid white;
	border-radius: 12px;
	margin-top: 4.8rem;
}

/*----------------------------------------------
3. TESTIMONIAL Section Styles
----------------------------------------------*/
.testimonial-container {
	width: 100%;
	height: auto;
	scroll-margin-top: 40rem;
	padding: 20rem 5rem;
}

.testimonials-header {
	text-align: center;
}

.testimonials-given {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.testimonial1,
.testimonial2,
.testimonial3,
.testimonial4 {
	width: 20%;
	height: 28rem;
	border: 1px solid white;
	border-radius: 1.2rem;
	margin-top: 4.8rem;
}
/*----------------------------------------------
3. PROJECTS Section Styles
----------------------------------------------*/

.projects-container {
	width: 100%;
	height: 92rem;
	scroll-margin-top: 40rem;
	padding: 20rem 5rem;
}

.projects-header {
	text-align: center;
}

.projects-made {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.project1,
.project2,
.project3,
.project4,
.project5,
.project6 {
	width: 30%;
	height: 25rem;
	border: 1px solid white;
	border-radius: 1.2rem;
	margin-top: 4.8rem;
}

/*----------------------------------------------
3. Contact Form Styles
----------------------------------------------*/

.contact-container {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 16rem 0;
}

.contact-header {
	text-align: center;
	margin-bottom: 3rem;
}

.info-form {
	width: 100%;
}

.form-container {
	color: whitesmoke;
	font-size: 1.6rem;
	background-color: #222831;
	width: 38rem;
	height: 59.5rem;
	border-radius: 1.5rem;
	line-height: 3rem;
	margin: 0 auto;
	padding: 3rem 2rem;
}

.child {
	padding-left: 3rem;
	width: 34rem;
}
.child input {
	height: 3.5rem;
}

.child input,
.child textarea {
	width: 28rem;
	border-radius: 0.6rem;
	padding-left: 0.5rem;
}

.submit {
	width: 15rem;
	height: 4.5rem;
	border-radius: 0.6rem;
	background-color: #30475e;
	color: whitesmoke;
	font-size: 1.6rem;
	border: none;
	cursor: pointer;
}
.submit:hover {
	background-color: #4b6e91;
}

/*----------------------------------------------
3. Footer Styles
----------------------------------------------*/

.footer-container {
	width: 100%;
	height: 12rem;
	background-color: #dddddd;
}

/*----------------------------------------------
 MEDIA QUERIES 
----------------------------------------------*/

@media only screen and (min-width: 1655px) {
}

@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 480px) {
}
